{% extends "layout.html" %}

{% block content %}
<div class="navMenu">
{% for menu in navBar %}
{% if menu['active']==0 %}
<a href="{{ url_for('home', id=menu['id']) }}">{{ menu['folder'] }} > </a>
{% else %}
<a class="navActive">{{ menu['folder'] }}</a>
{% endif %}
{% endfor %}
</div>
<div>
    <div class="home-options">
        <form id="uploadFileForm" action="{{ url_for('uploadFile') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="idParent" value="{{ parentDirectory.key.id }}"/>
            <input type="hidden" name="path" value="{{ parentDirectory['path'] }}"/>
            <input type="file" id="myFile" name="file_name" value=""/>
            <label for="myFile">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                    <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
                Upload
            </label>
        </form>

        <a id="btn-NewFolder" class="btn btn-dark" data-toggle="modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            New folder
        </a>

        <div class="dropdown show">
            <a class="btn btn-dark dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Duplicates
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a onclick="find_duplicates(false)" href="#">Check duplicates in this folder</a></li>
                <li role="separator" class="divider"></li>
                <li><a onclick="find_duplicates(true)" href="#">Check duplicates in Dropbox</a></li>
            </ul>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody id="directory_tbody">
        {% for data in directoryData %}
        <tr>
            <td>
                <a href="{{ url_for('home', id=data['id']) }}">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    {{ data['name'] }}
                </a>
            </td>
            <td align="right">
                <div class="flex-container">
                    <form action="{{ url_for('deleteFolder') }}" onclick="return confirmDelete(this);" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="idFolder" value="{{ data['id'] }}"/>
                        <input type="hidden" name="idParent" value="{{ parentDirectory.key.id }}"/>
                        <input type="hidden" name="pathParent" value="{{ parentDirectory['path'] }}"/>
                        <input type="hidden" name="path" value="{{ data['path'] }}"/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="Delete">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}

        {% for data in fileData %}
        <tr>
            <td>
                <form action="{{ url_for('downloadFile') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="path" value="{{ data['path'] }}"/>
                    <input type="hidden" name="filename" value="{{ data['name'] }}"/>
                    <a class="file-download" onclick='this.parentNode.submit();'>
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        {{ data['name'] }}
                    </a>
                </form>
            </td>
            <td align="right">
                <div class="flex-container">
                    <form id="share-file-{{ data['id'] }}" action="{{ url_for('shareFile') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="idParent" value="{{ parentDirectory.key.id }}"/>
                        <input type="hidden" name="idFile" value="{{ data['id'] }}"/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-plus share-file" viewBox="0 0 16 16" onclick="modalShare(this.parentNode.id)" data-toggle="tooltip" data-placement="top" title="Share">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </form>

                    <form name="deleteFile" action="{{ url_for('deleteFile') }}" onclick="return confirmDelete(this);" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="idFile" value="{{ data['id'] }}"/>
                        <input type="hidden" name="idParent" value="{{ parentDirectory.key.id }}"/>
                        <input type="hidden" name="pathParent" value="{{ parentDirectory['path'] }}"/>
                        <input type="hidden" name="path" value="{{ data['path'] }}"/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="Delete">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}        
        </tbody>
    </table>
</div>
{% endblock %}